<link rel="stylesheet" href="css/home.css">

<div class="card text-center">
  <div class="card-header">
     <h1>Übersprung, der</h1>
  </div>
  <div class="card-body">
    <div class="card-text">
      <div class="row justify-content-center">
        Zustand, in dem der Betroffene nicht fähig ist rational begründete Entscheidungen zu treffen, oder
        zu befolgen. Einzig bekannte Behandlungsmethode ist es den Betroffenen in diesem Zustand aus dem Weg
        zu gehen und nicht im Weg zu stehen. Mehreren Studien zu Folge flaut der Übersprung innerhalb kurzer
        Zeit wieder ab, und die Betroffenen erholen sich meist gänzlich von ihren Episoden.
        <br />
        <br />
        <small>Quelle: COG HRZ TU-DA</small>
      </div>
    </div>
  </div>
</div>
